./test_out
./media
*.pth
checkpoint/
dataset/
dataset_generation/
mask_results/
sample/
*.log
log/
bad_cases/
*.txt
*.png
*.jpg
*.pyc
*.yml
*.zip
cases_all/
datasets=New_scSE=False_Coord_MultiStrip=False_Head=Normal_random_data=Flase/
datasets=New_scSE=True_Coord_MultiStrip=False_Head=Normal_random_data=Flase/
datasets=New_with_scSE_with_Coord_MultiStrip_Head=Normal_with_random_data/
datasets=10000+6000_GA=True_BAM=scSE_CAF=CoordMulStrip_Head=FreqHiLoClsHead/
datasets=20000_GA=False_BAM=scSE_CAF=CoordMulStrip_Head=FreqHiLoClsHead/
datasets=20000_GA=True_BAM=scSE_CAF=CBAM_Head=FreqHiLoClsHead/
datasets=20000_GA=True_BAM=scSE_CAF=CBAM_Head=FreqHiLoClsHead/
datasets=20000_GA=True_BAM=scSE_CAF=SelfAttn_Head=FreqHiLoClsHead/
datasets=20000_GA=True_BAM=selfAttn_CAF=CoordMulStrip_Head=FreqHiLoClsHead/
datasets=20000_GA=True_BAM=scSE_CAF=CoordMulStrip_Head=FreqHiLoClsHead/
